.section-skills {
    background-color: var(--cor1);
    padding-top: 50px;
}

.title-skill {
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 10px;
}

.container-skill {
    padding: 10px;
    display: grid;
    gap: 20px;
    list-style: inside;
    font-size: 14px;
    padding-bottom: 40px;
}

/*front*/
.front-details h2 {
    color: #4b9fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 5px;
}

.front-details ul {
    color: #7dd1e6;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 25px;
}

.front-details strong {
    text-decoration: underline;
    color: #54a3c2;
}

/*design*/
.design-details h2 {
    color: #0DFF00;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 5px;
}

.design-details ul {
    color: #00FF80;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 25px;
}

.design-details strong {
    text-decoration: underline;
    color: #44c585;
}

@media screen and (min-width: 768px) {
    .container-skill {
        padding: 30px 30px;
        font-size: 20px;
    }

    .front-details li {
        line-height: 35px;
    }

    .design-details li {
        line-height: 35px;
    }
}

@media screen and (min-width: 992px) {
    .container-skill {
        padding: 30px 50px 50px 50px;
        font-size: 24px;
    }
}