@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Dad - Project - Section */
.section-projetos {
    background-color: var(--cor2);
    padding-top: 50px;
}

.title-projetos {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-weight: 700;
    padding-bottom: 10px;
    text-align: center;
}

/* Dad - container */
.container-grade {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

/* Child - container - Grid */
.row-line {
    justify-content: center;
    align-items: center;
    display: flex;
}

.grade-one, .grade-two {
    display: grid;
    grid-template-columns: 0fr 0fr 0fr;
    gap: 20px;
    padding: 10px;
    overflow-y: auto;
}

.grade-one .box, .grade-two .box {
    display: flex;
    flex-direction: column;
    background-color: rgb(133, 133, 133);
    width: 250px;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 1px 1px 5px #929292;
}

/*box*/
.head-quadro {
    background-color: #c5c5c5;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner {
    height: 100px;
    width: 100px;
    display: block;
    margin: auto;
}

.category {
    background-color: #303030;
    color: white;
    font-weight: bold;
    padding: 5px;
}

.description-area {
    padding: 10px 10px 0px 10px;
    height: auto;
    font-weight: bold;
    color: #f3f3f3;
}

.btn-area {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-top: auto;
    margin: auto 5px 5px;
}

.div-button {
    padding: 5px;
}

.button-projeto {
    margin: auto;
    display: block;
    background-color: #008127;
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid black;
}

.button-projeto:hover {
    background-color: #005a2d;
    color: #adadad;
} 

.button-projeto > a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}


@media screen and (min-width: 992px) {
    .category {
        padding-left: 10px;
    }

    .grade-one .box, .grade-two .box {
        width: 300px;
    }
}